# 001 - Chapter - Starting Pandas with Series

In [2]:
#import numpy and pandas
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

#date manipulation
import datetime

#matplotlib for graphs
import matplotlib.pyplot as plt
%matplotlib inline

# Pandas Series - Creation

In [4]:
#creating a panda Series with four item - creatingpandaseries - how to create a panda series - create pandas series - create series
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

# How to access a element from Series

In [9]:
#accessing a element from series - access element series - how to access a element from series - access series element index

s[1] #accessing a single element from row using label 1

2

In [8]:
s[[1,3]] #accessing more than one element in a series with label 1 and 3

1    2
3    4
dtype: int64

# How to create a Series with Index - Explicit index

In [10]:
s = pd.Series([1,2,3,4],['a','b','c','d'])

# Accessing item from the Series using Explicit index

In [15]:
s[['a','b']]

a    1
b    2
dtype: int64

In [18]:
s[['c','d']]

c    3
d    4
dtype: int64

# Accessing item from the Series like a array - using Position of the elements

In [16]:
s[[1,2]]

b    2
c    3
dtype: int64

In [20]:
s[[0,]]

a    1
dtype: int64

Any one kind of access is possible at a time using POSITION or INDEX LABEL

# how to see the index of the Series

In [22]:
s.index #this is return the indexes of the Series

Index(['a', 'b', 'c', 'd'], dtype='object')

# how to create a Index - date as Index  pd.date_range()

# Special index in Pandas - DateTimeIndex

In [23]:
dates = pd.date_range('2018-04-01','2018-04-06')
dates

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06'],
              dtype='datetime64[ns]', freq='D')

# how to pass a index for creating a Series - Passing DateTimeIndex

In [26]:
temps1 = pd.Series([80,82,85,90,83,87],index=dates)
temps1

2018-04-01    80
2018-04-02    82
2018-04-03    85
2018-04-04    90
2018-04-05    83
2018-04-06    87
Freq: D, dtype: int64

# Retrieving Data from the Series using DateTimeIndex

In [27]:
temps1['2018-04-02']

82

# How to Add/Subtract two Series - Arithmetic Operation on Series
# +,-,*,/,..

temps2 = pd.Series([95,80,87,95,88,85],index=dates)
temps2

In [29]:
temp_diffs = temps1 - temps2
temp_diffs

2018-04-01   -15
2018-04-02     2
2018-04-03    -2
2018-04-04    -5
2018-04-05    -5
2018-04-06     2
Freq: D, dtype: int64

In [30]:
temp_sums = temps1 + temps2
temp_sums

2018-04-01    175
2018-04-02    162
2018-04-03    172
2018-04-04    185
2018-04-05    171
2018-04-06    172
Freq: D, dtype: int64

Now you can access the Datas from Resultant Series

In [31]:
temp_diffs[1] #by position

2

In [33]:
temp_diffs['2018-04-06'] # by index - Date Index

2

# Pandas Statistical Methods - Mean() - Mean on Series

In [35]:
temp_diffs.mean() #returns the Average of the temp_diffs Series Values

-3.8333333333333335